<div class="plan">
  <div class="plan-text">プランテキスト</div>

  <div class="monthly-fee">
    <p><span class="¥">¥</span>5000</p>
    <h5 class="fee">月額</h5>
  </div>
  <ul class="list">
    <li>入会金０円</li>
    <li>平日：9時～17時</li>
    <li>土日祝：利用なし</li>
    <li>コアタイムでの利用に最適なプラン</li>
  </ul>
</div>

<div class="plan">
  <div class="plan-text">プランテキスト</div>
  <div class="monthly-fee">
    <p><span class="¥">¥</span>5000</p>
    <h5 class="fee">月額</h5>
  </div>
  <ul class="list">
    <li>入会金０円</li>
    <li>平日：9時～17時</li>
    <li>土日祝：利用なし</li>
    <li>コアタイムでの利用に最適なプラン</li>
  </ul>
</div>
