<div class="plan">
  <div class="odd">
    <div class="plan-text-o">プランテキスト</div>

    <div class="monthly-fee">
      <span class="¥">¥</span>5000
      <h5 class="fee">月額</h5>
    </div>
    <ul class="list">
      <li>入会金０円</li>
      <li>平日：9時～17時</li>
      <li>土日祝：利用なし</li>
      <li>コアタイムでの利用に最適なプラン</li>
    </ul>
  </div>

  <div class="even">
    <div class="plan-text-e">プランテキスト</div>
    <div class="monthly-fee">
      <span class="¥">¥</span>5000
      <h5 class="fee">月額</h5>
    </div>
    <div class="list">
      <li>入会金０円</li>
      <li>平日：9時～17時</li>
      <li>土日祝：利用なし</li>
      <li class="last">コアタイムでの利用に最適なプラン</li>
    </div>
  </div>
</div>
