<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../img/header.png" /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--ハンバーガーメニュー-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item nav-link" href="#">HOME</li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            CONCEPT
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">ブログアーカイブ</a></li>
            <li><a class="dropdown-item" href="#">お知らせアーカイブ</a></li>
            <li><a class="dropdown-item" href="#">イベントアーカイブ</a></li>
            <li>
              <a class="dropdown-item" href="#">インタビューアーカイブ</a>
            </li>
            <li><a class="dropdown-item" href="#">FAQページ</a></li>
            <li>
              <a class="dropdown-item" href="#">固定ページ(デフォルト)</a>
            </li>
            <li><a class="dropdown-item" href="#">CONCEPT</a></li>
            <li><a class="dropdown-item" href="#">SERVICE</a></li>
            <li><a class="dropdown-item" href="#">FLOOR</a></li>
            <li><a class="dropdown-item" href="#">ACCESS</a></li>
          </ul>
          <!--ドロップダウン押下で表示-->
        </li>
        <li class="nav-item nav-link" href="#">SERVICE</li>
        <li class="nav-item">
          <a class="nav-link" href="#">FLOOR</a>
        </li>
        <li class="nav-item nav-link" href="#">INTERVIEW</li>
        <li class="nav-item nav-link" href="#">BLOG</li>
        <li class="nav-item nav-link" href="#">ACCESS</li>
        <li class="nav-item nav-link" href="#">DOWNLOAD</li>
      </ul>
    </div>
  </div>
</nav>
