@use "../../variables" as *;

.navbar {
  width: auto;
  height: 90px;
  background-color: $black_50;
  font-size: $fontsize-s;
  @media (max-width: $breakpoint-xl) {
    height: 60px;
    background-color: $black;
    padding: 10px 0px;
  }
  .navbar-brand {
    img {
      width: 140px;
      margin-left: 30px;
      @media (max-width: $breakpoint-xl) {
        width: 120px;
        margin-left: 16px;
      }
    }
  }

  .navbar-toggler {
    border: none;
    margin-right: 4px;
    &:focus {
      box-shadow: none;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  .navbar-collapse {
    flex-direction: row-reverse;
    align-items: center;
    @media (max-width: $breakpoint-xl) {
      margin-right: 0;
      background-color: black;
    }

    .active {
      @media (max-width: $breakpoint-xl) {
        margin-top: 10px;
      }
    }
    #nav-Dropdown {
      display: block;
      .dropdown-toggle::after {
        display: none;
      }
      .collapse-button {
        @media (min-width: $breakpoint-xl) {
          display: none;
        }
      }
    }

    .nav-item {
      .nav-link {
        display: block;
        align-items: center;
        padding: 20px;
        color: $white;
        width: 100%;
        &:hover {
          @media (min-width: $breakpoint-xl) {
            color: $gray_nobel;
          }
        }
      }
    }
    .dropdown-menu {
      border: none;
      background-color: $black;
      padding: 0;
      margin-left: 28px;
      border-radius: 0;
      width: 220px;
      .dropdown-item {
        padding: 18px;
        transition: 0.2s ease;
        color: $white;
        &:hover {
          background-color: $orange_bistre;
        }
        @media (max-width: $breakpoint-xl) {
          padding: 15px 16px 15px 28px;
          background-color: $black;
          &:hover {
            background-color: $black;
          }
        }
      }
    }
  }
}
