<div class="fotter container">
  <div class="contact">
    <div class="wrapper logo-wrapper">
      <img src="../../../img/footer.png" alt="" />
    </div>
    <div class="wrapper text-wrapper">
      <asress>
        〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
        TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
        不定休
      </asress>
    </div>
    <div class="icon-list">
      <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="icon"><i class="fas fa-rss"></i></a>
    </div>
  </div>
  <nav class="footer">
    <ul class="frame">
      <li><a href="#">HOME</a></li>
      <li><a href="#">SERVICE</a></li>
      <li><a href="#">INTERVIEW</a></li>
      <li><a href="#">ACCESS</a></li>
      <li><a href="#">CONCEPT</a></li>
      <li><a href="#">FLOOR</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">DOWNLOAD</a></li>
    </ul>
  </nav>
  <small class="copyright">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </small>
</div>
