@use "../../variables" as *;

.container {
  text-align: center;
  align-items: center;
  color: $black;
  font-size: $fontsize-s;

  .contact {
    border-bottom: 1px solid $gray_nobel;
    padding: 32px 20px;
    @media screen and(max-width:$breakpoint-lg) {
      padding: 52px 20px;
    }
    .wrapper {
      padding-bottom: 20px;
      img {
        width: 150px;
      }
    }
    .icon-list {
      display: flex;
      justify-content: center;
      gap: 14px;
      .icon {
        color: $black;

        i {
          width: 14px;
          height: 14px;
          transition: color 0.2s ease;
          &:hover {
            color: $gray_nobel;
          }
        }
      }
    }
  }
  nav {
    padding: 16px;
    background-color: $white_smoke;
    //display: flex;
    //justify-content: center;
    ul {
      margin-bottom: 0px;
      padding: 0px;
      //display: flex;
      //flex-wrap: wrap;
      list-style: none;
      //@media screen and(max-width: $breakpoint-lg) {
      // flex-grow: 1;
      //}
      columns: 8;
      column-rule: 1px solid;
      column-gap: 8px;
      @media screen and(max-width: $breakpoint-lg) {
        columns: 2;
        column-rule: none;
      }

      li + li {
        //border-left: 1px solid #333;
        @media screen and(max-width: $breakpoint-lg) {
          border: 0px;
        }
      }
      li {
        //color: $black;
        //padding: 0px 4px;
        @media screen and(max-width: $breakpoint-lg) {
          /* margin: 5px;
          width: calc(50% - 10px);*/
          text-align: start;
        }
      }
      a {
        text-decoration: none;
        color: inherit;
        transition: background-color 0.2s ease;
        &:hover {
          color: $orange_bistre;
        }
      }
    }
  }
  .copyright {
    background-color: $black;
    color: $white;
    font-size: $fontsize-xs;
    padding: 16px;
    height: 44px;
    display: block;
  }
}
