@use "../../variables" as *;

.newsEvents {
  padding: 0rem 1rem;
  background-color: $white_smoke;
  .news-events {
    padding: 56px 0px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $breakpoint-lg) {
      justify-content: center;
      align-items: center;
      flex-flow: column;
      gap: 35px;
    }
    .news {
      width: 48%;
      @media screen and (max-width: $breakpoint-lg) {
        width: 88%;
      }
      .news-and-events-title h2 {
        @media screen and (max-width: $breakpoint-lg) {
          font-size: $fontsize-l;
        }
      }
    }
    .events {
      width: 48%;
      @media screen and (max-width: $breakpoint-lg) {
        width: 88%;
        margin-bottom: 0px;
      }
      .event-list h3 {
        font-weight: 400;
      }
      .event-thumbnail {
        @media screen and (max-width: $breakpoint-lg) {
          display: none;
        }
      }
    }
  }
}
